.myProjectsJumbotron {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  /* border-bottom: 2px rgba(193, 73, 83, 0.5) solid !important; */
  padding-bottom: 30px;
}

.projectsJumbotronTextStyle {
  color: white;
  opacity: 0.9;
}

/* .projectsJumbotronTextStyle h1 {
  border-bottom: red !important;
} */

.projectsJumbotronTextStyle p {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  opacity: 0.7;
}
