.contactStyle {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  /* margin-top: 30px !important; */
  font-family: "Roboto Slab", serif;
  min-height: 190px;
}

.contactBtn {
  color: #f2f4f3 !important;
  opacity: 0.9;
  font-size: 24px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.contactBtn:hover {
  transform: translateY(4px) !important;
}

.icon {
  color: rgba(215, 38, 61, 0.9);
  padding-bottom: 6px;
}
