.myContactJumbotron {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  text-align: center !important ;
  margin-top: 30px;
  /* border-bottom: 2px rgba(193, 73, 83, 0.5) solid !important; */
  padding-bottom: 30px;
}

.jumbotronTextStyle {
  color: white;
  opacity: 0.9;
}

.jumbotronTextStyle h1 {
  font-size: 64px !important;
}

.jumbotronTextStyle p {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  opacity: 0.9;
  text-align: center;
}

.rule {
  background: red !important;
  border: none;
  height: 2px;
  margin-right: 140px !important;
  margin-left: 140px !important;
}
