.myCol {
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.colStyle {
  display: flex;
  justify-content: center !important;
  margin-bottom: 50px;
}
