.myContainer {
  width: 100%;
}

.myNavbar {
  background-color: transparent;
  width: 100%;
}

.navBrand {
  font-size: 36px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #f2f4f3 !important;
  opacity: 0.7;
}

.navbarToggler {
  color: #f2f4f3 !important;
  opacity: 0.7;
}

.navLink {
  color: #f2f4f3 !important;
  opacity: 0.7;
}

.navLink:hover {
  transform: translateX(5px);
  transition-duration: 500ms;
  background-color: rgba(215, 38, 61, 0.3);
}
.navbar-nav {
  min-height: 20vh;
  /* position: static; */
  /* width: 100%; */
}
