.myNavbar {
  background-color: transparent !important;
  width: 100%;
  /* min-height: 42px !important; */
}

.navBrand {
  font-size: 36px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #f2f4f3 !important;
  opacity: 0.7;
}

.navbarToggler {
  color: #f2f4f3 !important;
  opacity: 0.7;
}

.navLink {
  color: #f2f4f3 !important;
  opacity: 0.7;
  font-size: 19px !important;
  font-family: "Roboto Slab", serif !important;
}

.navLink:hover {
  transform: translateX(5px);
  transition-duration: 500ms;
  background-color: rgba(215, 38, 61, 0.3);
  border-radius: 12px;
}
