.myNavbar {
  display: flex;
  /* justify-content: center !important; */
  /* align-items: center !important; */

  background-color: transparent;
}

.navBrand {
  font-size: 36px !important;
  color: black !important;
  opacity: 0.6;
}
