.myJumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 200 !important;
  min-height: 220px !important;
  padding-top: 30px;
  font-family: "Roboto Slab", serif !important;
  min-height: 220px !important;
}

.jumbotronText {
  color: white;
}

.jumbotronText h1 {
  font-size: 64px !important;
}

.jumbotronText p {
  font-size: 36px;
  text-align: center;
  font-weight: 100;
  opacity: 0.9;
}

.myImage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-image: url(/src/components/Images/photoPawel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  min-height: 200px;
}

.ruleStyle {
  margin-left: 140px !important;
  margin-right: 140px !important;
}
