footer {
  display: flex !important;
  position: static;
  justify-content: flex-end;
  align-items: center !important;
  opacity: 0.9;
  background-color: transparent;
  color: #f2f4f3 !important;
  font-size: 18px;
  font-weight: 100;
  padding-top: 180px !important;
  margin-top: 50px !important;
  margin: 0px !important;
  width: 100%;
  bottom: 0 !important;
  height: 200px;
}

footer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}
