footer {
  display: flex !important;
  position: relative !important;
  /* position: absolute; */
  /* justify-content: space-evenly; */
  justify-content: flex-end;
  /* justify-content: flex-start; */
  align-items: center !important;
  opacity: 0.9;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 100;
  padding-top: 180px !important;
  margin-top: 50px !important;
  margin: 0px !important;
  width: 100%;
  bottom: 0 !important;
  height: 200px;
}

footer p {
  font-family: "Roboto Slab", serif;
}
