@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Slab&display=swap");
h1,
h2 {
  font-size: 80px;
}

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(./components/Images/pexels-stephan-seeber-1054218.jpg);
  font-family: "Roboto Slab", serif;
  margin: 0px !important;
  padding: 0px !important;
  scroll-behavior: smooth;
  width: 100%;
}
